<div class="form">
  <h2 class="title-register center">Register</h2>
  <form
    action=""
    cForm
    class="row g-3"
    (ngSubmit)="onSubmit()"
    [validated]="customStylesValidated"
  >
    <c-col [md]="6">
      <label cLabel for="username">Username</label>
      <input
        cFormControl
        [(ngModel)]="username"
        id="username"
        name="username"
        type="text"
        required
      />
      <c-form-feedback [valid]="false">Username is required</c-form-feedback>
    </c-col>
    <c-col [md]="6">
      <label cLabel for="inputPassword">Password</label>
      <input
        cFormControl
        id="inputPassword"
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
      <c-form-feedback [valid]="false">Password is required</c-form-feedback>
    </c-col>
    <c-col [xs]="12">
      <label cLabel for="inputEmail">Email</label>
      <input
        cFormControl
        id="inputEmail"
        placeholder="a123@gmail.com"
        name="email"
        required
        [(ngModel)]="email"
      />
      <c-form-feedback [valid]="false">Email is required</c-form-feedback>
    </c-col>

    <div class="center">
      <button
        cButton
        color="secondary"
        (click)="handleResetData()"
        class="me-3"
      >
        Reset
      </button>
      <button cButton color="success" type="submit">Submit</button>
    </div>
    <div class="back">
      <a routerLink="/login">Back</a>
    </div>
  </form>
</div>
