.title-register{
  margin: 30px 0;
}
.center{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
}

.back{
  display: flex;
  justify-content: flex-end;
}
